{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}

{% block content %}

<div class="container my-5">
	<h2>Профиль пользователя</h2>

	<p>
		<strong>Email:</strong>
		{{ user.email }}
	</p>

	<p>
		<strong>Никнейм:</strong>
		{{ user.display_name }}
	</p>

	<p>
		<strong>Public ID:</strong>
		{{ user.public_id }}
	</p>

	<p>
		<strong>Дата регистрации:</strong>
		{{ user.created_at }}
	</p>

	<a href="{% url 'profile_edit' %}">
		Изменить профиль
	</a>
	
	<hr class="col-1 my-4">
</div>

{% endblock %}